html
{
    scroll-behavior: smooth;
}
body
{
	margin:0px;
	font-family: sans-serif;
	text-align: justify;
	
}
a{
	text-decoration:none;
	color:none;
}
h1
{
	margin-top:10px;
	font-size: 70px;
	font-family: sacramento;
	position: relative;
	top: 10px;
}
.scroll-up-btn{
    position: fixed;
    height: 35px;
    width: 45px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(120%);
}
.details
{
	font-size: 33px;
	font-family: sacramento;
}
.p-body
{
	font-size: 45px;
	font-family: sacramento;
	font-style: italic;
	font-weight: bold;
	color: black;
}
.top
{
	background-color: F7DAD9;
	text-align:center;
	height:100%;
	width:100%;	
}
.img1
{
	position: relative;
	right: 500px;
	top: 80px;
	height:65px;
	width:110px;
}
.img2
{
	position:relative;
	left: 850px;
	bottom: 250px;
	height:65px;
	width:110px;
}
.img3
{
	position:relative;
	top:137px;
	right:59px;
	height: 230px;
	width: 740px;
}
.img4
{
	position:relative;
	top:9px;
}
hr
{
height: 0px;
border-color: D6D2C4;
border-style: none;
border-top-style:dotted;
border-height:5px;
border-width:5px;
width: 10%;
}
.self-image{
	float: left;
	margin-left:350px;
	margin-right: 30px;
}

.floating{
text-align: left;
margin-left: 60px;
}
.button {
  background: #34fadc;
  background-image: -webkit-linear-gradient(top, #34fadc, #29b9b9);
  background-image: -moz-linear-gradient(top, #34fadc, #29b9b9);
  background-image: -ms-linear-gradient(top, #34fadc, #29b9b9);
  background-image: -o-linear-gradient(top, #34fadc, #29b9b9);
  background-image: linear-gradient(to bottom, #34fadc, #29b9b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cfafd;
  background-image: -webkit-linear-gradient(top, #3cfafd, #34fadc);
  background-image: -moz-linear-gradient(top, #3cfafd, #34fadc);
  background-image: -ms-linear-gradient(top, #3cfafd, #34fadc);
  background-image: -o-linear-gradient(top, #3cfafd, #34fadc);
  background-image: linear-gradient(to bottom, #3cfafd, #34fadc);
  text-decoration: none;
}
.bottom
{
	background-color:#d6d2c4;
	height:10%;
	width:100%;
	margin:0px;
}
.academic
{
	display: flex;
    justify-content: center;
	align-items: center;
	
	margin:0;
	padding:0;
	font-family: Roboto;
}
.academics
{
	background: #cdf0ea;
	min-height: 80%;
}
.text{
	margin-top: 15px;
}
.box1 {
    font-size: 15px;
    background-color:#0f1111;
	border: 1px solid black;
	padding: 30px 30px 30px 30px;
	color: white;
}

.box1:hover{
    text-align: center;
	filter: brightness(150%);
}

.percent .number {
	position: absolute;
	bottom:50px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition:1s;
}
.number:hover{
	font-size:25px;
	filter: brightness(120%);
}

.score
{
	position: relative;
	width:900px;
	display: flex;
	justify-content: space-around; 
}
.score .card1{
	position: relative;
	width:250px;
	display: flex;
    justify-content: center;
	align-items: center;
	height:300px;
	border-radius: 4px;
	text-align:center;
	overflow:hidden;
	transition: 0.5s;
}
svg
{
	position: relative;
	width:150px;
	height:150px;
	z-index:1000;
}
svg circle{
	width:100%;
	height:100%;
	fill:none;
	stroke: #191919;
	stroke-width:10;
	stroke-linecap:round;
	transform: translate(5px,5px);
	
}
svg circle:nth-child(2)
{
	
	stroke-dasharray: 440;
	stroke-dashoffset:440;
}
.card1:nth-child(1) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (440*816)/1000);
	stroke: #00ff43;
}
.card1:nth-child(2) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (440*900)/1000);
	stroke: #c76234;
}
.card1:nth-child(3) svg circle:nth-child(2)
{
	stroke-dashoffset: calc(440 - (440*850)/1000);
	stroke: #daf015;
}
/* skills section styling */

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 33px;
	font-family: sacramento;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
	align-items: right;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: right;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 19px;
	align-items: right;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
	align-items: right;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
	align-items: right;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .c::before{
    width: 90%;
}
.skills-content .right .java::before{
    width: 90%;
}
.skills-content .right .python::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 80%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .php::before{
    width: 80%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills-content
{
	margin-right:50px;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* project section */
.services .serv-content
{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.serv-content
{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
	
.services, .teams{
    color:#fff;
    background: #cdf0ea;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .serv-content .card{
    width: calc(23% - 20px);
    background: #222;
    text-align: center;
    border-radius: 4px;
    padding: 25px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
	margin:50px;
}
.services .serv-content .card:hover{
    filter: brightness(120%);
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: yellow;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #00ff43;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* COntact */
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
	margin-right: 30px;
	font-family: sacramento;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

}

.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
	font-size: 25px;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}

/* project section */
.table
{
	margin-left:45px;
	margin-right: 45px;
	border: 1px solid black;
	background-color: black;
	color: white;
}
.data
{
	text-align: justify;
	font-family: Poppins;
	font-size: 20px;
	margin-left:30px;
	margin-right:30px;
}

/* responsive media query start */
@media (max-width: 500px) {
	.scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
	.skills .skills-content {
		margin-left:30px;
        font-size: 19px;
    }
}
@media (max-width: 690px) {
    .services .serv-content .card{
        width: 100%;
    }
}
@media (max-width: 947px){
.services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
	.skills .skills-content{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
	.services .serv-content .card{
        width: 100%;
    }
}
	
